body {
	margin: 0;
	width: 100%;
	height: 100%;
}

.grid-container {
	display: grid;
	height: 100%;
	background-color: #555;
	grid-template-areas: 
	"header header header"
	"main main main"
	"footer footer footer";
	grid-template-rows: 80px 1fr auto;
	grid-gap: 2px 2px;
}

.grid-item {
	padding: 20px;
}

.grid-header {
	grid-area: header;
	background-color: #555;
	padding: 0 20px;
	position: sticky;
	top: 0;
	z-index: 1000;
	border-bottom: 5px solid #555;
}

.nav-toggle {
	color: #fff;
	background: none;
	border: none;
	font-size: 30px;
	padding: 10px 20px;
	line-height: 60px;
	display: none;
	cursor: pointer;
}

.grid-header__imagen {
	display: none;
	margin-top: 10px;
	margin-left: 40px;
}

/* .grid-header__imagen img{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	justify-content: center;
}
.grid-header__imagen img:hover{
	height: 64px;
	width: 64px;
	transition: .3s;
} */

.nav {
	display: flex;
	justify-content: flex-end; /*de esta manera los elementos quedan
	separados a izquierda y derecha*/
	/*border: 2px solid #fff;*/
	max-width: 992px;
	margin: 0 auto;
}

.nav-menu {
	display: flex;
	list-style: none;
	margin: auto;
	padding: 0;
	/*margin-top: 0;*/
}

.nav-link {
	color: #fff;
	text-decoration: none;
}

.nav-menu-item {
	font-size: 18px;
	margin: 0 10px;
	line-height: 80px;
	text-transform: uppercase; /*TODO MAYUSCULA*/
	width: max-content; /*NO CAMBIA EL TAMAÑO DEL TEXTO*/
}

.nav-menu-link {
	padding: 8px 12px;
	border-radius: 5px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
	background-color: #83c5f7;
	transition: .5s;
}





.grid-main {
	grid-area: main;
	background-color: #555;
	color: #fff;
	text-align: justify;
	padding: 0;

	display: grid;
	grid-template-areas: 
	"cuerpo cuerpo cuerpo"
	"separador separador separador"
	"imagen1 imagen1 imagen1"
	"imagen2 imagen2 imagen2"
	"imagen3 imagen3 imagen3";
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 250px 200px repeat(3, 300px);
	gap: 8px;

	align-items: center;
	justify-items: center;
}

.imagen_principal {
	grid-area: cuerpo;
	display: flex;
	background-image: url("../imagenes/pareja.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	color: #005;
	font-size: 50px;
	font-family: 'Allura', cursive;
	justify-content: center;
	align-items: center;
}
.imagen_separadora {
	grid-area: separador;
	background-image: url("../imagenes/corazon8.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	margin: 0 25px;
}
.imagen_1 {
	grid-area: imagen1;
	display: inline-block;
	background: url("../imagenes/pareja.jpg") #555;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: start;
	background-attachment: fixed;
}
.imagen_p{
	display: block;
}
.imagen_1 p {
	margin: 10px;
}
.imagen_2 {
	grid-area: imagen2;
	display: inline-block;
	background-image: url("../imagenes/pareja.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: end;
	background-attachment: fixed;
}
.imagen_2 p {
	margin: 10px;
}
.imagen_3 {
	grid-area: imagen3;
	display: inline-block;
	background-image: url("../imagenes/pareja.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: start;
	background-attachment: fixed;
}
.imagen_3 p {
	margin: 10px;
}


.grid-aside {
	grid-area: aside;
	background-color: #555;
	color: #fff;
	text-align: justify;
	display: none;

	flex-direction: column;
	justify-content: start;
}


.grid-footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
	background-color: #333;
	padding: 40px 16px 20px;
	position: relative;
}
.footer__caja{
	display: flex;
	margin: 0 15px;
	color: #555;
	justify-content: space-between;
}

.footer-logo{
	text-align: center;
}
.footer-logo a{
	text-decoration: none;
	color: #bfbfe2;
	font-family: 'Allura', cursive;
	font-size: 80px;
}
.footer-logo a:hover{
	color: #61a3e5;
	font-size: 90px;
	transition: .3s;
}

.footer-iconos{
	display: flex;
	margin: 0 15px;
	align-items: flex-start;
}
.footer-iconos a{
	color: #fff;
	margin: 0 10px;
	font-size: 25px;
}
.footer-iconos a:hover{
	color: #bfbfe2;
	font-size: 35px;
	transition: .4s;
}
.footer-copy{
	display: flex;
	align-items: flex-end;
	color: #bfbfe2;
	font-size: x-small;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 10px;
	margin-right: 10px;
}
.footer-img {
	margin-right: 10px;
	width: 30px;
}





@media screen and (max-width: 768px) {

	.grid-container {
		display: grid;
		width: 100vw;
		grid-template-areas: 
		"cabecera"
		"cuerpo"
		"pie";
	}

	.nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #555;
    position: fixed;
    top: 80px;
    width: 100vw;
    padding: 20px 0;

    height: 100vh;
    overflow-y: auto;

    left: 0;
    transition: left 0.5s;
  	}

  	.nav-menu-item {
  	  line-height: 70px;
  	}

  	.nav-menu-link:hover,
  	.nav-menu-link_active {
  	  background: none;
  	  color: #83c5f7;
  	}

  	.nav-toggle {
  	  display: block;
  	}

  	.nav-menu_visible {
  	  left: 100%;
  	}

  	.nav-toggle:focus:not(:focus-visible) {
  	  outline: none;
  	}

	.grid-header{
		grid-area: cabecera;
		width: auto;
		height: 80px;
	}

  	.grid-main {
		grid-area: cuerpo;
		display: grid;
  	}
	.imagen_principal{
		align-items: flex-start;
	}
	.imagen_1{
		background-attachment: local;
	}
	.imagen_2{
		background-attachment: local;
	}
	.imagen_3{
		background-attachment: local;
	}
	.form{
		width: auto;
	}

  	.grid-aside {
  		display: none;
  	}

  	.grid-footer {
		grid-area: pie;
		display: grid;
		padding: 0 0 60px 0;
  	}
	.footer__caja{
		display: block;
	}
	.footer-iconos{
		justify-content: center;
	}
	.footer-logo a{
		font-size: 40px;
	}
	.footer-logo a:hover{
		color: #61a3e5;
		font-size: 40px;
		transition: none;
	}
	.footer-copy{
		margin: 0;
		align-items: normal;
		right: auto;
		margin-bottom: 15px;
	}

}